<% if !@data.empty? %>
  <table class="food-table">
    <tr class="food-table-row">
      <th class="food-table-header">Food</th>
      <th class="food-table-header">Measurement Unit</th>
      <th class="food-table-header">Unit Price</th>
      <th class="food-table-header">Actions</th>
    </tr>
    <% @data.each do |name, vals| %>
      <tr class="food-table-row">
        <td class="food-table-data"><%= name %></td>
        <td class="food-table-data"><%= vals[:measurement_unit] %></td>
        <td class="food-table-data">$<%= vals[:price] %></td>
        <td class="food-table-data">
          <%= button_to "Delete", user_food_path(@client.id, vals[:id]), method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div>You don't have any food in your inventory. Go buy some and add it here!</div>
<% end %>