<div>
  <div>
    <span>
      Amount of food items to buy: <%= @data.size %>
    </span>
    <span>
      Total cost of food items: <%= @total_cost %>
    </span>
  </div>
  <div>
    <%= render "shared/food_table", type: 'shopping' %>
  </div>
</div>
